@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Parisienne&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Satisfy&family=Staatliches&display=swap");

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background: rgb(0, 0, 0);
    z-index: 10;
    //background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,121,9,1) 35%, rgba(19,160,115,1) 65%, rgba(172,255,0,1) 100%);

    .container-navbar-logo {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-self: center;
        justify-content: flex-start;
        align-content: flex-start;
        flex: 1;
        margin-left: 15px;

        .navbar-logo-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                font-size: 18px;
                font-family: "Satisfy";
                font-weight: 700;
                color: rgb(255, 255, 255);
                letter-spacing: 2px;
                text-decoration: none;

                svg {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    width: 20px;
                    height: 20px;
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
        }
    }
    .container-navbar-itens {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        gap: 30px;
        flex: 1;

        .navbar-itens {
            a {
                font-size: 18px;
                font-family: "Staatliches";
                font-weight: 700;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
                text-decoration: none;
            }
        }
    }
     
    #select-lang-id{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;   
    }
    .container-navbar-itens-language {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        gap: 5px;
        flex: 0 1 1;
        padding-right: 30px;
        cursor: pointer;

        .navbar-itens-title-menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                font-size: 18px;
                font-family: "Staatliches";
                font-weight: 700;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
                text-decoration: none;
            }
            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                padding-left: 5px;
                height: 20px;
                width: 20px;
                fill: white;
            }
        }

        .navbar-itens-title-menu-true {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                font-size: 18px;
                font-family: "Staatliches";
                font-weight: 700;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
                text-decoration: none;
            }
            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                padding-left: 5px;
                height: 20px;
                width: 20px;
                fill: red;
            }
        }

        .open-menu-lang{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            position: fixed;
            background-color: rgb(0, 0, 0);
            width: 150px;
            height: 230px;
            top: 55px;

            .navbar-itens-lang-selected {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                .focus-lang{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    font-size: 18px;
                    font-family: "Staatliches";
                    font-weight: 700;
                    color: rgb(255, 255, 255);
                    letter-spacing: 1px;
                    text-decoration: none;
                    padding: 5px; 
                }
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    font-size: 18px;
                    font-family: "Staatliches";
                    font-weight: 700;
                    color: rgb(122, 117, 117);
                    letter-spacing: 1px;
                    text-decoration: none;
                    padding: 5px;
                }
            }
        }

        .navbar-itens-lang-selected {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            align-content: center;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                font-size: 18px;
                font-family: "Staatliches";
                font-weight: 700;
                color: rgb(255, 255, 255);
                letter-spacing: 1px;
                text-decoration: none;
            }
        }
    }
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    font-family: "Parisienne";
    font-size: 36px;
    font-weight: 500;
    color: rgb(128, 104, 27);
}

.expanded-menu-off {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    font-family: "Staatliches";
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(128, 104, 27);
    margin-left: 5px;

    svg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        margin-left: 2px;
        margin-right: 2px;
        height: 14px;
        width: 14px;
    }
}

.bodyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 90px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        font-size: 48px;
        font-weight: 700;
    }

    .borderLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        height: 5px;
        width: 45px;
        background-color: rgb(25, 83, 19);
        border-radius: 5px;
        margin-bottom: 21px;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        font-family: "Parisienne";
        font-size: 36px;
        font-weight: 500;
        color: rgb(128, 104, 27);

        .expanded-menu-off {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-self: center;
            align-content: center;
            font-family: "Staatliches";
            margin-top: 5px;
            font-size: 16px;
            font-weight: 500;
            color: rgb(128, 104, 27);
            margin-left: 5px;

            svg {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                align-self: center;
                align-content: center;
                margin-left: 2px;
                margin-right: 2px;
                height: 14px;
                width: 14px;
            }
        }
    }

    .containerImages {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        margin-top: 20px;

        .image-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 10px;
            margin: 10px;

            .content-card {
                padding: 10px;
            }

            .title-content-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                margin-bottom: 10px;
                font-family: "Oleo Script";
                font-size: 18px;
            }

            .borderLine-card {
                display: flex;
                flex-direction: row;
                min-width: 0px;
                width: 100%;
                border: 1px solid black;
                margin-bottom: 5px;
                border-radius: 10px;
            }

            .circle-image {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 300px;
                height: 300px;
                border-radius: 150px;
                background-color: rgb(116, 27, 27);

                .image-manipulation {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    height: 200px;
                    width: 200px;
                }
            }

            .borderLine-card-bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                margin-top: 10px;
                margin-bottom: 5px;

                .borderLine-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    height: 5px;
                    min-width: 0;
                    width: 150px;
                    border-radius: 10px;
                    background-color: rgb(109, 102, 0);
                    border: rgb(109, 102, 0);
                }
            }

            .ingredientes-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                height: 150px;
                padding-bottom: 5px;
                cursor: pointer;
            }

            .ingredientes {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                padding-bottom: 15px;
                font-family: "Playfair Display SC";
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
            }

            .ingredientes-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                font-family: "Philosopher";

                .ver-preco {
                    display: flex;
                    flex-direction: column;
                    font-family: "Staatliches";
                    padding-top: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    color: rgb(128, 104, 27);
                    padding-left: 5px;
                }

                .promocao-pizza {
                    text-decoration: line-through red;
                }
            }
        }

        .image-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 10px;
            margin: 10px;

            .content-card {
                padding: 10px;
            }

            .title-content-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                margin-bottom: 10px;
                font-family: "Oleo Script";
                font-size: 18px;
            }

            .borderLine-card {
                display: flex;
                flex-direction: row;
                min-width: 0px;
                width: 100%;
                border: 1px solid black;
                margin-bottom: 5px;
                border-radius: 10px;
            }

            .circle-image {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 300px;
                height: 300px;
                border-radius: 150px;
                background-color: rgb(116, 27, 27);

                .image-manipulation {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    height: 200px;
                    width: 200px;
                }
            }

            .borderLine-card-bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                margin-top: 10px;
                margin-bottom: 5px;

                .borderLine-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    height: 5px;
                    min-width: 0;
                    width: 150px;
                    border-radius: 10px;
                    background-color: rgb(109, 102, 0);
                    border: rgb(109, 102, 0);
                }
            }

            .ingredientes-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                height: 150px;
                padding-bottom: 5px;
                cursor: pointer;
            }

            .ingredientes {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                padding-bottom: 15px;
                font-family: "Playfair Display SC";
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
            }

            .ingredientes-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                font-family: "Philosopher";

                .ver-preco {
                    display: flex;
                    flex-direction: column;
                    font-family: "Staatliches";
                    padding-top: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    color: rgb(128, 104, 27);
                    padding-left: 5px;
                }

                .promocao-pizza {
                    text-decoration: line-through red;
                }
            }
        }

        .image-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 10px;
            margin: 10px;

            .content-card {
                padding: 10px;
            }

            .title-content-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                margin-bottom: 10px;
                font-family: "Oleo Script";
                font-size: 18px;
            }

            .borderLine-card {
                display: flex;
                flex-direction: row;
                min-width: 0px;
                width: 100%;
                border: 1px solid black;
                margin-bottom: 5px;
                border-radius: 10px;
            }

            .circle-image {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                width: 300px;
                height: 300px;
                border-radius: 150px;
                background-color: rgb(116, 27, 27);

                .image-manipulation {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    height: 200px;
                    width: 200px;
                }
            }

            .borderLine-card-bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                justify-content: center;
                align-content: center;
                margin-top: 10px;
                margin-bottom: 5px;

                .borderLine-card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-self: center;
                    justify-content: center;
                    align-content: center;
                    height: 5px;
                    min-width: 0;
                    width: 150px;
                    border-radius: 10px;
                    background-color: rgb(109, 102, 0);
                    border: rgb(109, 102, 0);
                }
            }

            .ingredientes-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                height: 150px;
                padding-bottom: 5px;
                cursor: pointer;
            }

            .ingredientes {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                padding-bottom: 15px;
                font-family: "Playfair Display SC";
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
            }

            .ingredientes-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-self: center;
                justify-content: center;
                font-family: "Philosopher";

                .ver-preco {
                    display: flex;
                    flex-direction: column;
                    font-family: "Staatliches";
                    padding-top: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    color: rgb(128, 104, 27);
                    padding-left: 5px;
                }

                .promocao-pizza {
                    text-decoration: line-through red;
                }
            }
        }
    }

    .navbar-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: center;
        flex: 1;
        height: 50px;
        min-width: 0;

        .select-arrow {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            justify-content: center;

            width: 55px;
            height: 55px;
            border-radius: 30px;
            background-color: rgb(61, 39, 39);
            margin-right: 10px;
            margin-bottom: 25px;
        }
    }
}

.whyContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 90px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        font-size: 48px;
        font-weight: 700;
    }

    .borderLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        height: 5px;
        width: 45px;
        background-color: rgb(25, 83, 19);
        border-radius: 5px;
        margin-bottom: 21px;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        font-family: "Parisienne";
        font-size: 36px;
        font-weight: 500;
        color: rgb(128, 104, 27);
    }
}

.contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    flex: 1;
    min-height: 0;
    min-width: 0;
    margin-top: 90px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        font-size: 48px;
        font-weight: 700;
    }

    .borderLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        height: 5px;
        width: 45px;
        background-color: rgb(25, 83, 19);
        border-radius: 5px;
        margin-bottom: 21px;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        font-family: "Parisienne";
        font-size: 36px;
        font-weight: 500;
        color: rgb(128, 104, 27);
    }

    .container-contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        flex: 1;
        min-width: 0;
        min-height: 0;
        margin-top: 50px;

        .left-container {
            display: flex;
            flex-direction: row;
            flex: 1;
            min-height: 500px;
            min-width: 500px;
            background-color: aquamarine;
        }

        .middle-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-self: center;
            align-content: center;
            position: absolute;
            z-index: 2;
            min-height: 500px;
            min-width: 500px;
            background-color: rgb(0, 0, 0);
        }

        .right-container {
            display: flex;
            flex-direction: row;
            flex: 1;
            min-height: 500px;
            min-width: 500px;
            background-color: rgb(20, 0, 94);
        }
    }
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 90px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        font-size: 48px;
        font-weight: 700;
    }

    .borderLine {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        height: 5px;
        width: 45px;
        background-color: rgb(25, 83, 19);
        border-radius: 5px;
        margin-bottom: 21px;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: center;
        align-content: center;
        font-family: "Parisienne";
        font-size: 36px;
        font-weight: 500;
        color: rgb(128, 104, 27);
    }
}
